{% extends "base.html" %}

{% block title %}{{ periodo }}{% endblock title %}

{% block content %}
  {% for asignatura in asignaturas: %}
    <h1>{{asignatura.nombre}}</h1>
    {% for curso in asignatura: %}
      <h2>{{curso.nombre}}</h2>
      <table>
        {% for opinion in curso: %}
          {% if opinion.texto %}
            <li>
              Evaluación general: {{opinion.general.puntos}}
                </br> {{ opinion.texto }}
            </li>
          {% endif %}
        {% endfor %}
      </table>
    {% endfor %}
  {% endfor %}
{% endblock content %}
