{% extends "base.html" %}

{% block subtitle %}{{ periodo }}{% endblock subtitle %}

{% block subcontent %}
  {% for asignatura in asignaturas: %}
    <br><h3>{{asignatura.nombre}}</h3>
    {% for curso in asignatura: %}
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#{{asignatura.nombre+curso.nombre}}" aria-expanded="true" aria-controls="collapseOne">
              {{curso.nombre}}
            </button>
          </h5>
        </div>
        <div id="{{asignatura.nombre+curso.nombre}}" class="collapse" aria-labelledby="{{asignatura.nombre+curso.nombre}}">
          <ul class="list-group list-group-flush">
            {% for opinion in curso: %}
              {% if opinion.texto %}
                <li class="list-group-item">
                  <small> Evaluación general: {{opinion.general.puntos}} </small><br>
                  {% for parrafo in opinion.texto.split('\n') %}
                    <p>{{ parrafo }}</p>
                  {% endfor %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  {% endfor %}
{% endblock subcontent %}
